.gridcontainer{
  margin-top: 10vh;
  margin-bottom: 5vh;
  word-break: break-all;
}

.gridview{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(40vw,1fr));
}

.qbox{
  background-color: lightblue;
  padding:4vw;
  border-radius: 5px;
  height: 200px;
  border-style: solid;
  border-width: 1px;

}

.qtopic{
  top:-50px;
  font-size: 3vh;
  text-align: center;
}
/* this is not needed anymore*/
.nrofq{

  position: inherit;
  bottom:-30px;
  text-align: center;
}

.delButton{
  position: absolute;
  padding: 2vw;
  background-color: cadetblue;
  border-radius: 5px;
  border-width: 1px;
}

h1{
  font-size: 4vh;
  margin-left: 20px;
}
