

  <h1 class="qTopic">
    {{qtopic}}
  </h1>

  <div class="creatorContainer" id="creatorContainer" #target>

    <h1 class="qTopicEdit">
      <button (click)="editTopic()" style="background-color: cadetblue">Edit topic</button>
    </h1>
    <!-- view the questionnaire -->
    <div *ngFor="let question of questionList; let i = index" class="questionDisplay">


      <p class="qNum">
        <button class="move" (click)="moveUp(i)">Move up</button>
        Question {{i+1}}/{{questionList.length}}
        <button class="move" (click)="moveDown(i)">Move down</button>
      </p>
      <div  *ngIf="question.imagePath">
        <img class="questionImage" [src]="question.imagePath"  />
      </div>
      <p class="qDesc">{{question.qDesc}} </p>
      <button class="delete" (click)="deleteQuestion(i)">Delete question</button>


      <div class="qAns" *ngFor="let answer of question.qAns; let j = index">
        <div>
          <p >{{answer}}</p>
        </div>
      </div>

    </div>





    <div style="margin-bottom: 5vh">

      <p class="qLabel">Image:</p>

      <div style="display: flex; flex-direction: column; margin: auto; align-items: center;">
        <input type="file" (change)="onFileSelect($event)" >
        <div  *ngIf="imageData">
          <img class="questionImage" [src]="imageData"  />
        </div>

      </div>

        <p class="qLabel">Question:</p>
      <textarea ngModel maxlength="150" class ="qInput" id="questionI" #questionInput placeholder="Input your question here..."> </textarea>
      <div id="answersAddingDiv">
        <p class="qLabel">Answers:</p>
        <div><textarea placeholder="Answer A..." ngModel maxlength="190" class="ansInputs" style="width: 70vw; height: 4vh; font-size:1.5vh;"></textarea></div>
        <div><textarea placeholder="Answer B..." ngModel maxlength="190" class="ansInputs" style="width: 70vw; height: 4vh; font-size:1.5vh;"></textarea></div>
        <div><textarea placeholder="Answer C..." ngModel maxlength="190" class="ansInputs" style="width: 70vw; height: 4vh; font-size:1.5vh;"></textarea></div>
        <div><textarea placeholder="Answer D..." ngModel maxlength="190" class="ansInputs" style="width: 70vw; height: 4vh; font-size:1.5vh;"></textarea></div>
      </div>
    </div>




    <button (click)="addQuestion(questionInput.value); scrollToElement(target)" class="rButton" style="display: block; margin: auto; margin-top: 0; margin-bottom: 20vh;">Add Question</button>


  </div>





<div class="bottomButtons">

    <button [routerLink]="['/home']" class="rButton" >Discard and exit</button>
    <button (click)="editQuestionnaire()" class="rButton"  [routerLink]="['/home']">Save changes</button>
    <button (click)="saveQuestionnaire()" class="rButton"  [routerLink]="['/home']">Save as new copy</button>

</div>
